<!--<div class="col-xs-12">-->
    <!--<ul class="list-group">-->
        <!--<li ng-repeat = "item in groceryItems | orderBy: '-date'" class="list-group-item text-center clearfix">-->
            <!--&lt;!&ndash;<button type="button" class="btn btn-sm btn-success pull-left">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="glyphicon glyphicon-unchecked"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<span style="font-weight:bold">Item 1</span>&ndash;&gt;-->
            <!--&lt;!&ndash;<button type="button" class="btn btn-sm btn-default pull-right">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="glyphicon glyphicon-pencil"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--<span style = "font-weight: bold">{{item.itemName | uppercase}}</span>-->
        <!--</li>-->
        <!--&lt;!&ndash;<li class="list-group-item text-center clearfix">&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-sm btn-success pull-left">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="glyphicon glyphicon-unchecked"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<span style="font-weight:bold">Item 2</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-sm btn-default pull-right">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="glyphicon glyphicon-pencil"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="list-group-item text-center clearfix">&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-sm btn-success pull-left">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="glyphicon glyphicon-unchecked"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<span style="font-weight:bold">Item 3</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-sm btn-default pull-right">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="glyphicon glyphicon-pencil"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--</ul>-->
<!--</div>-->

<div class="col-xs-12">
    <a href="#/addItem" style="margin-bottom: 10px;" class="btn btn-primary btn-lg btn-block">
        <span class="glyphicon glyphicon-plus"></span>
        Add Grocery Item
    </a>
    <ul class="list-group">
        <li ng-repeat = "item in groceryItems | orderBy: '-date'" class="list-group-item text-center clearfix">
            <span style="font-weight: bold">{{item.itemName | uppercase}}</span>
        </li>
    </ul>

</div>